<html>
  <head>
    <title>Contact Us</title>
  </head>
  <body>
    <div class="contactus">
      <h1>Contact Us</h1>
      <p>If you have any questions or need assistance, please don't hesitate to
        contact us:</p>
      <p>Email: info@healthchain.com</p>
      <p>Location of operations: 6735 Salt Cedar Way Building 1, Suite 300,
        Office 1054 Frisco, Texas 75034, US
      </p>
      <h1>Management Team</h1>
      <h2>CEO:John Smith</h2>
      <p> Background in healthcare technology and blockchain.</p>
      <h2>CTO:Jane Doe</h2>
      <p> Extensive experience in blockchain development.</p>
      <h2> COO: Mark Johnson</h2>
      <p>Expertise in healthcare operations and partnerships.</p>
      <h2> Advisors: Dr. Emily Williams</h2>
      <p>Blockchain Expert</p>
      <h2> Board Members: Sarah Brown</h2>
      <p>

        Healthcare Strategist Investors
      </p>
    </div>
  </body>
</html>