<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
 
  <style>
    /* Add custom CSS styles here */
    

    
  </style>
</head>
<body class="bg-black">
  <div class="container">
    <div class="login-box">
      <h1>Hospital Login</h1>
      <form action="/hospital/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" class="form-control" required><br>

        <label for="password">Password:</label>
        <input type="password" name="password" class="form-control" required><br>

        <button type="submit" class="btn btn-success">Login</button>
      </form>
    </div>
  </div>
</body>
</html>
