<div class="container p-5">
  <div class="row">

    <div class="col-md-5">
      {{> patients/patientForm }}
    </div>

    <div class="col-md-7">
      {{> patients/patientTable }}
    </div>
  </div>
</div>